@tailwind base;
@tailwind components;
@tailwind utilities;
@import './Airbnb';

/* .pt-l-doodle.pt-xxl-toggle-hide,
.pt-beta-navigation,
#tab-navbar {
  display: none;
}

.pt-block-header div {
  background-color: '#9b5454' !important;
} */

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
